* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_page {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: calc(100% / 3);
    height: auto;
    border: solid lightgray 0.1px;
}